@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary text-base sm:text-lg overflow-x-hidden;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl font-semibold;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl 2xl:text-4xl font-semibold;
  }

  h3 {
    @apply text-lg md:text-xl 2xl:text-2xl;
  }

  section {
    @apply flex min-h-screen flex-col items-center pt-24 pb-12 px-8 sm:pt-28 sm:pb-16 sm:px-16 md:px-24 md:pb-24 md:pt-36 lg:px-32;
  }
}
.differentBackgroundColor {
  @apply -my-12 -mx-8 sm:-mx-16 sm:-my-16 md:-my-24 md:-mx-24 lg:-mx-32 py-24 px-8 sm:px-16 sm:py-16 md:px-24 md:py-24 lg:px-32;
}

.bigHeading {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold;
}

.fade-left-right {
  @apply overflow-x-hidden before:bg-gradient-to-r before:z-10 before:absolute before:w-12 before:top-0 before:bottom-0 before:pointer-events-none after:bg-gradient-to-l after:z-10 after:absolute after:w-12 after:top-0 after:bottom-0 after:right-0 after:pointer-events-none from-background to-transparent;
}

.gradient {
  @apply bg-gradient-to-r from-accent to-accentSecondary;
}

.gradientText {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-accent to-accentSecondary font-black;
}

.animatedGradientText {
  @apply bg-clip-text text-transparent bg-[linear-gradient(to_right,theme(colors.accent),theme(colors.accentSecondary),theme(colors.accent),#63B9EC,theme(colors.accent),theme(colors.accentSecondary),theme(colors.accent))] bg-[length:200%_auto] animate-gradient;
}

.glass {
  @apply backdrop-blur-xl bg-opacity-80;
}

.link {
  @apply hover:text-accent hover:underline hover:underline-offset-4;
}

/* curved background shape */
.backgroundWave {
  @apply relative h-full z-[-1];
}
.backgroundWave:before,
.backgroundWave:after {
  content: "";
  @apply absolute top-0 left-0 right-0 z-[-2] h-full bg-gradient-to-r from-accent to-accentSecondary;
}
.backgroundWave:after {
  -webkit-mask: radial-gradient(
        126% 72% at top,
        white 80%,
        transparent 0%
      )
      left,
    radial-gradient(126% 72% at bottom, transparent 80%, white 0%)
      right;
  mask: radial-gradient(126% 72% at top, white 80%, transparent 0%)
      left,
    radial-gradient(126% 72% at bottom, transparent 80%, white 0%)
      right;
  -webkit-mask-size: 50.1% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-size: 50.1% 100%;
  mask-repeat: no-repeat;
  @apply z-[-2] bg-gradient-to-br from-background to-background;
}

/* scroll to top button */
.scrollToTopButton {
  transition: opacity 0.3s ease-in-out;
}

/* pagination styles */
.pagination-container {
  @apply flex list-none;

  .pagination-item {
    @apply flex m-2 box-border text-center items-center justify-center rounded-md h-12 w-12;

    &.dots:hover {
      @apply bg-transparent cursor-default;
    }

    &:hover {
      @apply bg-accent/30 cursor-pointer;
    }

    &.selected {
      @apply text-accent bg-accent/30;
    }

    &.disabled {
      @apply pointer-events-none;

      &:hover {
        @apply bg-transparent cursor-default;
      }
    }
  }
}
